<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title >台灣紫外線指數 UVI</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='icons/map.png') }}">
  <script src="https://cdn.jsdelivr.net/npm/echarts@5.6.0/dist/echarts.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">  
  <style>
    body {
      background-color: #ECF8F8;
    }

    th {
      text-align: center !important;
      color: black !important;
    }

    .button.is-custom {
      background-color: #ECF8F8;
      border: none; 
      box-shadow: none;
    }
  </style>
</head>
<body>
  <!-- 上方 -->
  <section class="section">
    <div class="container has-text-centered">
      <h1 class="title is-1 has-text-link">全球太陽紫外線指數(UVI)-台灣監測站資料</h1>
      <h2 class="subtitle is-3 has-text-danger">
        <img src="{{ url_for('static', filename='icons/location.png') }}" style="width: 50px; height: 50px; margin-right: 5px;">
        目前縣市:{{selected_county}}
      </h3>
      
      <div class="control">
        <a class="button is-custom" href="/update_db">
          <img src="{{ url_for('static', filename='icons/updateremovebg.png')}}" 
          style="width: 100px; height: 90px;">
        </a>
      </div>
      <!-- 分隔線 -->
      <hr class="my-3">
      <div class="field is-grouped is-grouped-centered">
        <form action="/" method="GET" class="field is-grouped">
          <div class="control">
            <div class="select is-medium" >              
              <select name="county" id="county" >
                <option value="ALL">全部縣市</option>
                {% for county in counties %}
                <option value="{{county}}" {% if selected_county == county %} selected {% endif %}>{{county}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="control">
            <button type="submit" class="button is-custom">
              <img src="{{ url_for('static', filename='icons/search.png')}}" 
              style="width: 40px; height: 40px;">
            </button>
          </div>
        </form>

        
        <!-- <h2 >目前縣市:{{selected_county}}最新更新時間: {{ nowtime }}</h2> -->
      </div>
    </div>
  </section>
  
  <!-- 中間 -->
  <section class="section">
    <div class="container">
      <div class="columns">
        <!-- 左邊圖表 -->
        <div class="column is-7">
          <div class="box" style="background-color: #ffffff;">
            <div id="map" style="width: 100%; height: 600px;"></div>
          </div>          
        </div>

        <!-- 右邊表格 -->
        <div class="column is-5">
          <div class="box" style="background-color: #ffffff;">
            <table class="table is-bordered is-fullwidth is-hoverable has-text-info has-text-centered">
              <thead class="has-background-link has-text-white has-text-centered">
                <tr>
                  {% for col in columns %}
                  <th>{{col}}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody class="has-background-info has-text-grey-dark">
                  {% for row in datas %}
                  <tr>
                    {% for data in row %}
                    <td>{{data}}</td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- 下方 -->
  <section class="section has-text-centered">
    <button id="toggleButton" class="button is-warning is-large">切換圖表</button>
  </section>
  
  <script>
    const uviData = {{ uvi_data | tojson | safe }};
    const selectedCounty = "{{ selected_county }}";
    const isAllCounty = (selectedCounty === "ALL");
    const myChart = echarts.init(document.getElementById("map"));
    myChart.showLoading();

    if (isAllCounty){
      //  使用本地端GeoJSON 來源
      $.get('/static/twCounty2010.geo.json', function (geoJson) {
        myChart.hideLoading();

        // 檢查有無抓取到geoJson
        if (!geoJson || !geoJson.features) {
          alert("❌ 載入地圖失敗：geoJson.features 為 undefined");
          return;
        }

        // 給每個區塊加上 name（ECharts 根據 name 找資料）
        geoJson.features.forEach(f => {
          f.properties.name = f.properties.COUNTYNAME;
        });

        echarts.registerMap('Taiwan', geoJson);

        const sortedUviData = [...uviData].sort((a, b) => a.value - b.value);       
      
        // 地圖版
        const mapOption = {
          backgroundColor: '#2EC0F9',

          tooltip: {
            trigger: 'item',
            formatter: '{b}<br/>UVI: {c}'
          },
          visualMap: {
            min: 0,
            max: 11,
            left: 'left',
            top: 'bottom',
            text: ['高', '低'],
            calculable: true,
            inRange: {
              color: ['#00ff00', '#ffff00', '#ffa500', '#ff0000', '#8b00ff']
            }
          },
          
          animationDurationUpdate: 1500,
          animationEasingUpdate: 'cubicInOut',
        
          series: [{
            id: 'uvi',
            type: 'map',
            map: 'Taiwan',
            roam: true,
            label: { show: true },
            data: uviData,
            universalTransition: true
          }]
        };

        // 柱狀圖版
        const barOption = {
                  
          tooltip: { trigger: 'axis' },
          xAxis: { type: 'value', name: 'UVI' },
          yAxis: {
            type: 'category',
            data: sortedUviData.map(item => item.name),
            axisLabel: { interval: 0, rotate: 30 }
          },
          visualMap: {
            orient: 'horizontal',
            left: 'center',
            min: 0,
            max: 11,
            text: ['高', '低'],
            calculable: true,
            inRange: {
              color: ['#00ff00', '#ffff00', '#ffa500', '#ff0000', '#8b00ff']
            }
          },

          series: [{
            id: 'uvi',
            type: 'bar',
            data: sortedUviData.map(item => item.value),
            universalTransition: true
          }]
        };

        myChart.setOption(mapOption);

        let currentOption = 'map';
        
        
        button.addEventListener('click', () => {
          if (currentOption === 'map') {
            myChart.setOption(barOption, true);
            currentOption = 'bar';
          } else {
            myChart.setOption(mapOption, true);
            currentOption = 'map';
          }
        });
      });
    } else {
        myChart.hideLoading();

        const timeList = {{ time_list | tojson | safe}};
        const seriesData = {{ series_data | tojson | safe}};

        const option = {
          tooltip: { trigger: 'axis' },
          legend: { top: 'bottom' },
          xAxis: { type: 'category', data: timeList },
          yAxis: { type: 'value' },
          series: seriesData
        };

        myChart.setOption(option);
      }
    if(!isAllCounty){
      const button = document.getElementById('toggleButton');
      // 只有「全部縣市」時才啟動動畫切換
      button.style.display = 'none';
    }

  </script>

  
    
</body>
</html>